body {
  font-family: "Lato", sans-serif;
  background-color: #ffffff;
}

h1,
h2,
p,
strong {
  color: #424874;
}

.date,
.footer {
  color: #989898;
}

* {
  margin: 0;
  padding: 0;
}
main {
  margin: auto;
  display: flex;
}

header {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

header {
  margin-top: 50px;
  margin-bottom: 100px;
}

header h1 {
  font-size: 30px;
}

#container {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  flex-wrap: wrap;
}

#container article {
  width: 28%;
}

#container article figure {
  width: 100%;
}

#container article figure img {
  width: 100%;
}

.likeContainer {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

#container article {
  background-color: #f4eeff;
  padding: 25px;
  margin-bottom: 30px;
  filter: drop-shadow(4px 4px 7px #b8b8b8);
  height: 100%;
}

#container article h2 {
  margin-top: 30px;
}

.date {
  margin-top: 5px;
  margin-bottom: 30px;
}

.likeContainer p {
  margin-right: 10px;
  font-size: 20px;
}

.likeContainer span {
  color: #ff8d8d;
  cursor: pointer;
}

.likeContainer span:hover {
  color: #ff4b4b;
}

footer {
  width: 80%;
  margin: auto;
}

footer p {
  margin-top: 50px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 18px;
}

form {
  display: flex;
}

form input {
  padding: 10px;
  border: 2px solid #424874;
}

form button {
  padding: 7px 10px;
  background-color: #424874;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

#filterContainer {
  /* display: flex;
  align-items: center; */
  width: 70%;
  margin: auto;
  position: relative;
  height: 60px;
}

#test {
  position: absolute;
  right: 0;
  display: flex;
  /* align-items: center; */
}

#filterBtn {
  background-color: #424874;
}

#filterBtn span {
  color: #ffffff;
  padding: 10px;
  cursor: pointer;
}

#filterText {
  color: #424874;
  background-color: #f4eeff;
  padding: 10px;
  font-weight: 700;
}
