body {
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
  color: #0d0d0d;
}
main {
  margin: auto;
  display: flex;
}

header {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

#container {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  flex-wrap: wrap;
}

#container article {
  width: 30%;
}

#container article figure {
  width: 100%;
}

#container article figure img {
  width: 100%;
}

.likeContainer {
  display: flex;
}
